/*Colocacion*/

.row1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.row2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.row3 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
}
.row4 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: justify;
  flex-wrap: wrap;
}
.row5 {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.column1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.column2 {
  display: flex;
  flex-flow: column;
  justify-content: justify;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.column3 {
  display: flex;
  flex-flow: column;
  justify-content: left;
  align-items: flex-start;
  text-align: justify;
  flex-wrap: wrap;
}
/*navegador*/
nav {
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgba(150, 149, 149, 0.3);
}
#navHijo {
  margin-top: 18px;
  margin-right: 255px;
  margin-left: 255px;
}
#busqueda {
  width: 215px;
  height: 28px;
  border: solid 1px rgba(219, 219, 219, 0.9);
  border-radius: 3px;
  text-align: center;
  background-image: url(imagenesPerfil/buscar.png);
  background-repeat: no-repeat;
  background-position: 70px center;
}
#smallPerfil {
  border-radius: 9999px;
  width: 30px;
  height: 30px;
}

#icons i {
  padding-right: 35px;
  margin-left: 10px;
}

/*Description*/

#description {
  padding-top: 30px;
  margin-top: 15px;
  margin-right: 120px;
  margin-bottom: 100px;
}
#fotoPerfil {
  border-radius: 9999px;
  width: 130px;
  height: 130px;
  transition: transform 0.2s;
}

#imgContent {
  margin-right: 20px;
  padding-right: 15px;
}
#name {
  flex-direction: row;
  align-items: center;
  justify-content: first baseline;
}
#vulpes,
#followersInfo p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
#vulpes {
  padding-left: 5px;
  padding-top: 12px;
}
#vulpes,
#followersInfo span {
  font-weight: 700;
}
#user {
  font-size: 28px;
  line-height: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

button {
  cursor: pointer;
  border: none;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 13.3px;
  border-radius: 2px;
  border: solid 1px rgba(219, 219, 219, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(12, 11, 11);
}

#publicaciones,
#followers,
#follow {
  padding-left: 5px;
  padding-right: 5px;
}

/*Separador*/
#separador {
  margin-bottom: 25px;
  border-top: 1.5px solid rgba(150, 149, 149, 0.3);
}
#separador span {
  margin-top: 25px;
  padding-left: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgb(168, 168, 168);
}
/*Galeria*/

#fila1 img {
  width: 300px;
  height: 300px;
  padding-left: 12px;
  padding-bottom: 12px;
}
#fila2 img {
  width: 300px;
  height: 300px;
  padding-left: 12px;
  padding-bottom: 12px;
}

/*Texto y fuente*/

/*Hover img*/

#fotoPerfil:hover {
  transform: scale(1.5);
}

/*Mediaqueries*/

@media screen and (max-width: 800px) {
  #smallPerfil {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #smallPerfil {
    display: none;
  }
  #name {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #logoInstagram {
    display: none;
  }
  #navHijo {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  #busqueda {
    position: absolute;
    margin-left: 22%;
    z-index: 2;
  }
  #icons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
    padding-right: 70%;
  }
  #fotoPerfil {
    margin-left: 60%;
  }
  #name {
    margin-left: 40%;
  }
  button {
    width: 180px;
    height: 30px;
  }
  #followersInfo {
    display: flex;
    flex-flow: row;
    margin-left: 155px;
    padding-top: 25px;
  }
  #vulpes {
    display: none;
  }

  #separador {
    display: flex;
    flex-flow: row;
  }
  #separador span {
    padding-left: 25px;
  }

  #fila1 img {
    width: 150px;
    height: 150px;
  }
  #fila2 img {
    width: 150px;
    height: 150px;
  }
}
